<button type="button" class="btn btn-secondary" data-dismiss="modal" data-action="cancel">{{#str}} cancel {{/str}}</button>
<button type="button" class="btn btn-primary" id="btn-generate-confirm" disabled>
    {{#str}} generate, mod_classengage {{/str}}
</button>
